
body {
  margin: 0;
  padding: 0;
  background-color: #F9FAFB;
  font-family: 'Roboto', sans-serif;
}

.date-picker {
  background-color: #e6e6e6;
  padding: 10px 10px;
  border-radius: 12px;
  outline: none;
  border: 2px solid #F9FAFB;
}
.date-picker:hover {
  cursor: pointer;
}

.app-btn:hover {
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.9) !important;
}