
body {
  margin: 0;
  padding: 0;
  background-color: #F9FAFB;
  font-family: 'Roboto', sans-serif;
}

.date-picker {
  background-color: #F9FAFB;
  padding: 10px 10px;
  border-radius: 12px;
  outline: none;
  border: 2px solid #F9FAFB;
  /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); */
}
.date-picker:hover {
  cursor: pointer;
}